@CHARSET "ISO-8859-1";
body {
background-color: #dce;
font-family: "Nimbus Roman",TimesNewRoman, "Times New Roman",  Times, Baskerville, Georgia, serif;
}

a img {
border: none;
}

footer {
border: none;
padding: 0;
margin: 0;
}

a:link {
color: #006;
text-decoration: underline;
}

a:active {
color: #006;
text-decoration: none;
}

a:hover {
text-decoration: none;
}

a:visited {
color: #026;
}

article {
padding:0;
margin:0;
border:0;
}

h1{
margin: 0 30px;
font-size: 24px;
color: #000;
text-decoration: none;
font-family: "Times New Roman";
}

#h1{
font-size: 24px;
color: #000;
text-decoration: none;
}

.left {
text-align: left;
float: left;
}

.center {
}

.right {
float:right;
text-align: right;
}

hr {
border: 0;
background-color: #114;
margin:10px;
padding:1px;
color: #114;
}

#content {
vertical-align:top;
background: #fff;
font-family: verdana;
background: #fff;
padding: 10px;
border-top: 1px;
border-bottom: 1px;
border-style:solid;
border-color:#505;
}

#content blockquote {
color: #005;
font-style: italic;
border: none;
}

#content .copy {
padding: 10px;
font-size: 13px;
line-height: 15px;
}

#content .copy a {
color: #006;
text-decoration: underline;
}

#content .copy p {
margin: 10px 0 0 0;
padding: 0;
}

#content .copy pre {
margin: 10px 0px 10px 0px;
padding: 10px;
background-color: #dce;
font: normal 11px Courier, monospace;
overflow: auto;
}

#content .copy > p:first-child {
margin-top: 0;
}

#content .copy img {
max-width: 100%;
}

#content .audio {
background: #dce;
padding: 7px;
margin-bottom: 10px;
}

#content .audio .player {
}

#content .audio .player .audio_player embed {
border: 1px solid #c8c8c8;
}

#content .audio .meta {
padding: 8px 13px;
height: 13px;
color: #000;
font-size: 11px;
text-transform: lowercase;
}

#content .audio .meta a {
color: #000;
}

#content .audio .meta a:hover{
color: #006;
}
 
h2 {
font-size: 18pt;
color: #000;
text-decoration: none;
padding: 10px 10px 0 10px;
}

a.h2 {
font-size: 18pt;
color: #000;
text-decoration: none;
}

#content img {
max-width: 500px;
}

#content .chat {
background-color: #fff;
border-left: 1px solid #505;
margin: 10px 10px 0 10px;
font-size: 14px;
}

#content .chat .lines {
margin-left: 1px;
}

#content .link {
margin: 4px 0 2px 0;
font-size: 16px;
line-height: 25px;
}

#content .link a {
color: #006;
padding: 5px 7px;
}

#content .link a:hover {
}

#content .footer {
background: #dce;
font-size: 11px;
padding: 5px 10px;
margin-top: 10px;
}

.tags {
list-style-type: none;
display: inline;
}

.tags li{
display: inline;
}

a h2 {
text-decoration:none;
}

h2 a {
text-decoration:none;
}

#page {
margin: 10px 1px 10px 1px;
width: 100%;
text-align: center;
}

#sidebar {
vertical-align:top;
border: 1px solid #505;
width: 200px;
color: #000;
background: #fff;
padding: 0 0 5px 0;
}

#sidebar dfn{
margin-left: 5px;
font-style: normal;
}

#avatar {
margin:0;
padding:0;
width: 200px;
height: 200px;
}

#avatar img {
padding: 0px;
margin: 0px;
width: 200px;
height: 200px;
border-bottom: 1px solid #505;
}

#description {
margin-top:5px;
margin-left:5px;
font-size: 8pt;
}

#following{
list-style: none;
}

#following a{
color: #006;
font-size: 15pt;
}

#following img {
width: 48px;
height: 48px;
}

a.links
{
font-size: 13pt;
margin:5px;
color: #006;
text-decoration:none;
}

a.tumblr
{
font-size: 8pt;
margin:5px;
color: #33a;
text-decoration:none;
}

#tagged
{
list-style: none;
}
#tagged li
{
font-size: 8pt;
}
.notes
{
list-style-type: none;
list-style: none;
padding:0;
margin:0;
}
.notes li
{
padding:0;
margin:0;
}
